# REQUIRED
API_ID=
API_HASH=
BOT_TOKEN=
MONGO_URL=
LOGGER_ID=
OWNER_ID=
SESSION=

# OPTIONAL assistants
SESSION2=
SESSION3=

# NEW — Hybrid Router
COBALT_URL=http://127.0.0.1:9000
JIOSAAVN_API_URL=https://saavn.dev

# BOT SETTINGS
DURATION_LIMIT=60
QUEUE_LIMIT=20
PLAYLIST_LIMIT=20
LANG_CODE=en
AUTO_LEAVE=False
AUTO_END=False
THUMB_GEN=True
VIDEO_PLAY=True
SUPPORT_CHAT=https://t.me/DevilsHeavenMF
SUPPORT_CHANNEL=https://t.me/FallenAssociation
DEFAULT_THUMB=https://te.legra.ph/file/3e40a408286d4eda24191.jpg
PING_IMG=https://files.catbox.moe/haagg2.png
START_IMG=https://files.catbox.moe/zvziwk.jpg
